#botaoAjudaSite {
float: left;
margin-left: 45%;
height: 2vw;
width: 4vw;
}

#botaoAjudaJogo {
float: right;
margin-right: 45%;
height: 2vw;
width: 4vw;
}

#dropdownAjuda {
    position: relative;
    display: inline-block;
    width: 100%;
}

.botaoDropdownAjuda {
    width: 100%;
}

.conteudoDropdownAjuda {
    margin-top: 3vw;
    display: none;
    background-color: #f1f1f1;
    min-width: 100px;
    z-index: 1;
    width: 70%;
    margin-left: 15%;
}

.show {display:block;}
.hide {display:none;}

