/* --------------------------------------- tela celular / tablet --------------------------------------- */
@media screen and (max-width:750px) {

    .rodape {

        width: 100.6%;
        margin-left: -0.6vw;
        height: 20vw;
    }

    .sub-rodape {

        width: 100%;
        height: 11vw;
    }

    .colunas-rodape {

        width: 100vw;
        margin-left: 1vw;
    }

    .coluna-rodape {

        width: 14vw;
        margin-left: 4vw;
    }

    .info-rodape {
    
        margin-top: 0.6vw;
        font-size: 2.7vw;
    }

    .item-rodape {

        font-size: 1.5vw;
    }

    .itens-rodape {

        display: none;
        width: 12vw;
        margin-left: 2vw;
    }

    .titulo-rodape {

        display: none;
        font-size: 2vw;
        margin-left: 0.5vw;
    }

    .redeSocial-rodape {

        width: 8vw;
        margin-left: 1vw;
    }

    #final-rodape {

        width: 11vw;
        margin-left: 47.4vw;
    }

    #bandeira-rodape {

        width: 2.3vw;
        margin-top: 0.8vw;
        margin-left: 1vw;
    }

    #home-rodape {
    
        margin-left: 4.5vw;
    }
    
    #ajuda-rodape {
    
        margin-left: 4vw;
    }
    
    #sobre-rodape {
    
        margin-left: 4.3vw;
    }
    
    #regulamentos-rodape {
    
        margin-left: 1vw;
    }
    
    #contatos-rodape {
    
        margin-left: 3vw;
    }

    #redesSociais-rodape {

        margin-left: 26vw;
        margin-top: 1.5vw;
        width: 50%;
    }
    
}












/* --------------------------------------- ipad / telas menores --------------------------------------- */
@media screen and (min-width:751px) and (max-width:1200px) {

    .rodape {

        width: 100.6%;
        margin-left: -0.6vw;
        height: 30vw;
    }

    .sub-rodape {

        width: 100%;
        height: 23vw;
    }

    .colunas-rodape {

        width: 100vw;
        margin-left: 1vw;
    }

    .coluna-rodape {

        width: 15vw;
        margin-left: 4vw;
    }

    .info-rodape {
    
        margin-top: 0.6vw;
        font-size: 2.7vw;
    }

    .item-rodape {

        font-size: 1.5vw;
    }

    .itens-rodape {

        width: 12vw;
        margin-left: 2vw;
    }

    .titulo-rodape {

        font-size: 2vw;
        margin-left: 0.5vw;
    }

    .redeSocial-rodape {

        width: 5vw;
        margin-left: 1vw;
    }

    #final-rodape {

        width: 11vw;
        margin-left: 47.4vw;
    }

    #bandeira-rodape {

        width: 2.3vw;
        margin-top: 0.8vw;
        margin-left: 1vw;
    }

    #home-rodape {
    
        margin-left: 4.5vw;
    }
    
    #ajuda-rodape {
    
        margin-left: 4vw;
    }
    
    #sobre-rodape {
    
        margin-left: 4.3vw;
    }
    
    #regulamentos-rodape {
    
        margin-left: 1vw;
    }
    
    #contatos-rodape {
    
        margin-left: 3vw;
    }

    #redesSociais-rodape {

        margin-left: 34.5vw;
        margin-top: 1.5vw;
        width: 30vw;
    }
}   











/* --------------------------------------- tela monitor 1366x768 ---------------------------------------*/
@media screen and (min-width:1201px) {

    .rodape {

        width: 100.6%;
        margin-left: -0.6vw;
        height: 18vw;
    }

    .sub-rodape {

        width: 100%;
        height: 14vw;
    }

    .colunas-rodape {

        width: 70vw;
        margin-left: 16.5vw;
    }

    .coluna-rodape {

        width: 12vw;
        margin-left: 1vw;
    }

    .info-rodape {
    
        margin-top: 0.6vw;
        font-size: 1.2vw;
    }

    .item-rodape {

        font-size: 1vw;
    }

    .itens-rodape {

        margin-left: 2.2vw;
        width: 10vw;
    }

    .titulo-rodape {

        font-size: 1.3vw;
        margin-left: 1vw;
    }

    .redeSocial-rodape {

        width: 3vw;
        margin-left: 0.5vw;
    }

    #final-rodape {

        width: 7vw;
        margin-left: 47.4vw;
    }

    #bandeira-rodape {

        width: 1.5vw;
        margin-top: 0.2vw;
        margin-left: 0.5vw;
    }

    #home-rodape {
    
        margin-left: 4.5vw;
    }
    
    #ajuda-rodape {
    
        margin-left: 4vw;
    }
    
    #sobre-rodape {
    
        margin-left: 4.3vw;
    }
    
    #regulamentos-rodape {
    
        margin-left: 1.2vw;
    }
    
    #contatos-rodape {
    
        margin-left: 3vw;
    }

    #redesSociais-rodape {

        margin-left: 34.5vw;
        margin-top: 1.5vw;
        width: 30vw;
    }
}










/* --------------------------------------- geral ---------------------------------------*/

.rodape {

    background-color: rgb(24, 22, 22);
    color: white;
    background-image: url("../img/paginas/footer/rodape_final.jpg");
    background-size: cover;
}

.sub-rodape {

    background-color: rgb(43, 40, 40);
    float: left;
    text-align: center;
    background-image: url('../img/paginas/footer/rodape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.colunas-rodape {

    float: left;
    text-align: center;
}

.coluna-rodape {

    float: left;
    text-align: center;
}

.info-rodape {
    
    text-align: center;
}

.link-rodape {

    text-decoration: none;
    color: white;
}

.item-rodape {

    font-family: monospace;
    transition: transform .30s;
}

.item-rodape:hover {

    transform: scale(1.1);
}

.itens-rodape {

    text-align: left;
}

.titulo-rodape {

    font-family: monospace;
    text-align: center;
    font-weight: 500;
    transition: transform .30s
}

.titulo-rodape:hover {

    transform: scale(1.1);
}

.link-itens {

    text-decoration: none;
    color: white;
}

.redeSocial-rodape:hover {

    transform: scale(0.95);
    transition: transform .28s;
}

#footer {
    
    transition-property: all;
    transition-duration: 2s;
}

#final-rodape {

    float: left;
}

#ano-rodape {
    
    float: left;
}

#bandeira-rodape {

    float: left;
}

#redesSociais-rodape {

    float: left;
}
