body {
    margin: 0px;
    padding: 0px;

}

::selection {

    background: #2ebe29; /* WebKit/Blink Browsers */
}

  ::-moz-selection {
      
    background: #2ebe29; /* Gecko Browsers */
}


/* ---- classes ---- */

.clear {
    clear: both;
}

.verde {
    background-color: #34aa2f !important;
}

.azul {

    background-color: rgb(27, 96, 247) !important;
}

.vermelho {

    background-color: rgb(202, 23, 23) !important;
}
/* senha errada, pode mudar de lugar se quiser só botei aqui pra ser facil de achar*/
.errada {
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
}

.botaoVoltar {

  border-radius: 7px;
  color: white;
  font-family: NotoSans_Bold;
  font-size: 17px;
  background-color: rgb(24, 24, 24);
  border: #505050 1.3px solid;
  width: 200px;
  height: 50px;
  transition: background-color 0.5s, color 0.5s;
  position: absolute;
}

.botaoVoltar:hover {

  transition: background-color 0.5s, color 0.5s;
  color: #00000080;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.616);
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
      transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-8px);
    }
  }
  
@keyframes glow-red {
  50% {
    border-color: indianred;
  }
}

@font-face {
  font-family: NotoSans;
  src: url("../font/NotoSans-Regular.ttf");
}

@font-face {
  font-family: NotoSans_Bold;
  src: url("../font/NotoSans-Bold.ttf");
}

@font-face {
  font-family: NotoSan_Italic;
  src: url("../font/NotoSans-Italic.ttf");
}

@font-face {
  font-family: NotoSan_BoldItalic;
  src: url("../font/NotoSans-BoldItalic.ttf");
}
