body {
    margin: 0px;
    padding: 0px;

}

::selection {

    background: #2ebe29; /* WebKit/Blink Browsers */
}

  ::-moz-selection {
      
    background: #2ebe29; /* Gecko Browsers */
}


/* ---- classes ---- */

.clear {
    clear: both;
}