body {
    margin: 0px;
    padding: 0px;

}

::selection {

    background: #2ebe29; /* WebKit/Blink Browsers */
}

  ::-moz-selection {
      
    background: #2ebe29; /* Gecko Browsers */
}


/* ---- classes ---- */

.clear {
    clear: both;
}

.verde {
    background-color: #34aa2f !important;
}

.azul {

    background-color: rgb(27, 96, 247) !important;
}

.vermelho {

    background-color: rgb(202, 23, 23) !important;
}
