
/* --------------------------------------- tela celular / tablet --------------------------------------- */
@media screen and (max-width:900px) {

    

    .header {

        height: 22vw;
        background-color: rgba(0, 0, 0, 0.651);
        transition-duration: 4s;
    }

    .opcao-menuMobile {

        float: left;
    }

    .nav-desktop {

        display: none;
    }

    .icon-linkMenuMobile {

        width:8vw; 
    }

    .texto-linkMenuMobile {
        display: none;
    }

    #botaoFecharMenu {

        opacity: 0;
        transition-property: all;
        z-index: 1;
        position: absolute;
        float: left;
        margin-top: 6vw;
        margin-left: 6%;
        background-color: transparent;
        border: none;
        outline: none;
    }
    
    #secondBody {

        transition-property: all;
        transition-duration: 2s;
    }

    #imagem-menuMobile {

        width:8vw; 
    }

    #botao-menuMobile {

        width: 20vw;
        height: 20vw;
        transition-property: all;
        background-color: transparent;
        outline: none;
        z-index: 0;
        border: none;

    }

    #botao-homeMobile {

        background-color: transparent;
        transition: transform .35s;
    }
    
    #botao-homeMobile:hover {
    
        background-color: rgb(22, 163, 69);
        border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-left: none;
        border-top: none;
    }
    
    #botao-blogMobile {
        
        display: none;
        background-color: transparent;
    }
    
    #botao-blogMobile:hover {
    
        background-color: rgb(40, 120, 212);
        border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-left: none;
        border-top: none;
    }
    
    #botao-sobreMobile {
        
        display: none;
        background-color: transparent;
    }
    
    #botao-sobreMobile:hover {
        
        background-color: rgb(255, 180, 41);
        border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-left: none;
        border-top: none;
    }
    
    #botao-ajudaMobile {
        
        display: none;
        background-color: transparent;
    }
    
    #botao-ajudaMobile:hover {
        
        background-color: rgb(119, 74, 190);
        border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-left: none;
        border-top: none;
    }
    
    #botao-lojaMobile {
        
        display: none;
        background-color: rgb(224, 44, 20);
        border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
        border-left: none;
        border-top: none;
        transition: transform .25s;
    }

    #texto-brazuca {

        font-size: 5vw;
    }

    #head-player {

        width: 10vw;
        height: 10vw;
    }

}











/* --------------------------------------- tela monitores menores --------------------------------------- */
@media screen and (min-width:901px) and (max-width:1200px) {

    .header {

        background-color: rgba(0, 0, 0, 0.651);
    }

    .icon-linkMenu {

        width:2vw; 
    }

    .nav-mobile {

        display: none;
    }

    .botao-menu {

        width: 8vw;
        height: 3.8vw;
        font-size: 2vw;

    }

    #botaoFecharMenu {

        display: none;
    }

}











/* --------------------------------------- tela monitor 1366x768 ---------------------------------------*/
@media screen and (min-width:1201px) {

    .header {

        background-color: rgba(0, 0, 0, 0.651);
    }
    
    .nav-desktop {

        margin-left: 23vw;
    }

    .nav-mobile {

        display: none;
    }

    .botao-menu {

        width: 8vw;
        height: 3.8vw;
        font-size: 1.3vw;
        margin-top: 0.5vw;
    }

    .icon-linkMenu {

        width:1.4vw; 
        margin-right: 0.3vw;
        margin-bottom: -0.2vw;
    }

    .texto-linkMenu {

        margin-right: 5%;
    }

    .opcao-menu {

        margin-left: 2vw;
        
    }


    #texto-brazuca {

        margin-top: -0.01vw;
        font-size: 2vw;
    }

    #link-brazuca-menu {

        width: 10vw;
        height: 5vw;
        margin-left: -20vw;
    }

    #head-player {

        width: 2.4vw;
        height: 2.4vw;
        margin-left: 3.5vw;
        margin-top: 1.5vw;
    }

    #div-loja {

        margin-left: 20vw;
    }

    #botao-login {

        width: 8vw;
        height: 3.8vw;
        margin-top: 0.5vw;
        font-size: 1.3vw;
    }

    #botaoFecharMenu {

        display: none;
    }

}










/* --------------------------------------- geral ---------------------------------------*/

.header {

    width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 0; 
    
}

.nav-desktop {

    width: 100%;
}

.opcao-menu {

    float: left;
    
}

.botao-menu {

    border: none;
    border-radius: 0.1vw;
    text-decoration: none;
    font-weight: 700;
    color: white;
    text-shadow: 0.05vw 0.11vw rgba(0, 0, 0, 0.651);
    cursor: pointer;
}

.botao-menu:hover {

    transform: scale(1.1);
    transition: transform .28s
}

.texto-linkMenu {

    float: right;
}

/* Modal Inicio*/

.modal {

    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}


.modalConteudo {

    width: 40%; 
    height: 15vw;
    margin:15% 32%; 
    background-color: #1c1b1b;
    border-radius: 0.4vw;
    cursor: auto;
}

.botao-fechar {

    width: 1.7vw;
    height: 1.7vw;
    margin-right: 1%;
    margin-top: 1%;
    border-radius: 0.2vw;
    color: white;
    background-image: url('../img/icons/fechar.png');
    background-size: cover;
    border: none;
    font-family: monospace;
    text-align: center;
    float: right;
    font-weight: 1000;
    cursor: pointer;
    transition: transform .25s;
}

.botao-fechar:hover {

    transform: scale(0.9) rotate(3deg);
    transition: transform .30s
}

.botao-fechar:focus {

    outline: none;
}

.close:hover,
.close:focus {

    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal fim*/

/* Dropdown inicio */

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd}
  
.show {display:block;}


/* Dropdown fim */

#bodyID {

    background-color: black;
}

#texto-brazuca:hover {

    transform: scale(1.1);
    transition: transform .30s
}

#link-brazuca-menu {

    float: left; 
    color: white; 
    font-weight: 700; 
    font-family: monospace;
    text-shadow: 0.08vw 0.15vw rgba(0, 0, 0, 0.651);
    text-decoration: none;
    text-align: center;
}

#botao-home {

    background-color: transparent;
    transition: transform .35s;
}

#botao-home:hover {

    background-color: rgb(22, 163, 69);
    border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-left: none;
    border-top: none;
}

#botao-blog {

    background-color: transparent;
}

#botao-blog:hover {

    background-color: rgb(40, 120, 212);
    border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-left: none;
    border-top: none;
}

#botao-sobre {

    background-color: transparent;
}

#botao-sobre:hover {
    
    background-color: rgb(255, 180, 41);
    border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-left: none;
    border-top: none;
}

#botao-ajuda {

    background-color: transparent;
}

#botao-ajuda:hover {
    
    background-color: rgb(119, 74, 190);
    border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-left: none;
    border-top: none;
}

#botao-loja {

    background-color: rgb(224, 44, 20);
    border-bottom: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-right: 0.25vw solid rgba(10, 10, 10, 0.4);
    border-left: none;
    border-top: none;
    transition: transform .25s;
}

#head-player {

    background-image: url("../img/paginas/header/head-steve.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    transition: transform .30s;
}

#head-player:hover {

    transform: scale(1.1)  rotate(5deg);
}

#div-loja {

    float: left;
}

#botao-login {
    
    border: none;
    border-radius: 0.3vw;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: transparent;
    text-shadow: 0.05vw 0.11vw rgba(0, 0, 0, 0.651);
    cursor: pointer;
}

#botao-login:hover{

    transform: scale(1.1);
    transition: transform .28s;
}

#botao-login:focus{

    outline: none;
}

#modal {

    background-color: rgba(0, 0, 0, 0.550);
}

#tituloModal {

    text-align: center;
}
