/* --------------------------------------- tela celular / tablet --------------------------------------- */
@media screen and (max-width:750px) {

    .header {

        height: 25vw;
        background-color: rgba(0, 0, 0, 0.651);
        transition-duration: 4s;
    }

    .nav-desktop {

        display: none;
    }

    .menuMobile {

        float: left;
        position:relative;
    }

    .opcao-menuMobile {

        display: none;
        position: absolute;
        transition-property: all;
        z-index: 1;
        right: 0;
    }

    .botao-menuMobile {

        background-color: transparent;
        border: none;
        outline: none;
    }

    .icon-linkMenuMobile {

        width:23vw; 
        opacity: 0;
    }

    .texto-linkMenuMobile {

        opacity: 0;
        font-size: 5vw;
        color: white;
    }

    .modalConteudo {

        width: 85%; 
        height: 65vw;
        margin:50% 8%; 
    }

    .modalLogin-input {

        width: 50%;
        height: 6vw;
        margin-top: 2%;
        font-size: 5vw;
        border: 0.2vw solid #ccc;
    }

    .botao-fechar {

        width: 6vw;
        height: 6vw;
        margin-right: 2%;
        margin-top: 2%;
    }

    .dropdownOpcao {

        padding: 12px 16px;
    }

    .dropdown-content {

        width: 40vw;
        margin-top: 24.94vw;
    }
    
    #secondBody {

        transition-property: all;
        transition-duration: 2s;
    }
    
    #botaoFecharMenu {

        opacity: 0;
        position: absolute;
        transition-property: all;
        z-index: 1;
        float: left;
        margin-top: 8vw;
        margin-left: 8%;
        background-color: transparent;
        border: none;
        outline: none;
    }

    #imagem-menuMobile {

        width:8vw; 
    }

    #menuMobile {

        width: 25vw;
        height: 25vw;
        transition-property: all;
        background-color: transparent;
        outline: none;
        z-index: 0;
        border: none;

    }

    #link-brazuca-menu {

        margin-left: 11%;
        font-size: 10vw;
        margin-top: 4vw;
    }

    #texto-brazuca {

        font-size: 7vw;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    #botao-login {

        margin-top: 8.5vw;
        margin-left: 13%;
        font-size: 5vw;
    }

    #head-player {

        width: 10vw;
        height: 10vw;
        margin-left: 200%;
        margin-top: 7vw;
    }

    #botao-homeMobile {

        margin-top: 40vw;
        margin-left: -210%;
    }

    #botao-blogMobile {

        margin-top: 40vw;
        margin-left: -70%;
    }

    #botao-sobreMobile {

        margin-top: 80vw;
        margin-left: -210%;
    }

    #botao-ajudaMobile {

        margin-top: 80vw;
        margin-left: -70%;
    }


    #div-lojaMobile {

        display: none;
        z-index: 1;
        position: absolute;
        right: 0;
        margin-top: 115vw;
        margin-right: 63%;
    }

    #botao-lojaMobile {
        
        opacity: 0;
        transition-property: all;
        width: 360%;
        height: 15vw;
        border-radius: 3px;
        border-bottom: 2vw solid rgba(10, 10, 10, 0.4);
        border-left: 2vw solid rgba(10, 10, 10, 0.4);
        border-top: 2vw solid rgba(255, 255, 255, 0.5211);
        border-right: 2vw solid rgba(255, 255, 255, 0.521);
    }

    
    #tituloModal {

        font-size: 7vw;
        padding-left: 10%;
    }

    #loginModal {

        margin-left: 12%;
        font-size: 4vw;
    }

    #senhaModal {

        margin-left: 12%;
        font-size: 4vw;
    }

    #botaoLogar {

        width: 60%;
        height: 10vw;
        font-size: 5vw;
        margin-top: 4vw;
        margin-left: 19%;
    }

    #botaoCadastro {

        width: 40%;
        height: 7vw;
        font-size: 3.5vw;
        margin-top: 2vw;
        margin-left: 29%;
        margin-bottom: 2vw;
    }

    #linkEsqueciSenha {

        font-size: 3.8vw;
        margin-left: 25%;
    }

}











/* --------------------------------------- ipad / telas menores --------------------------------------- */
@media screen and (min-width:751px) and (max-width:1200px) {

    .header {

        height: 18vw;
        background-color: rgba(0, 0, 0, 0.651);
        transition-duration: 4s;
    }

    .nav-desktop {

        display: none;
    }

    .menuMobile {

        float: left;
        position:relative;
    }

    .opcao-menuMobile {

        display: none;
        position: absolute;
        transition-property: all;
        z-index: 1;
        right: 0;
    }

    .botao-menuMobile {

        background-color: transparent;
        border: none;
        outline: none;
    }

    .icon-linkMenuMobile {

        width:13vw;
        height: 13vw; 
        opacity: 0;
    }

    .texto-linkMenuMobile {

        opacity: 0;
        font-size: 5vw;
        color: white;
    }

    .modalConteudo {

        width: 70%; 
        height: 45vw;
        margin:25% 15%; 
    }

    .modalLogin-input {

        width: 50%;
        height: 5vw;
        margin-top: 2%;
        font-size: 3vw;
        border: 0.2vw solid #ccc;
    }

    .botao-fechar {

        width: 4.5vw;
        height: 4.5vw;
        margin-right: 1%;
        margin-top: 1%;
    }

    .dropdownOpcao {

        padding: 12px 16px;
    }

    .dropdown-content {

        width: 40vw;
        margin-top: 17.91vw;
    }

    #secondBody {

        transition-property: all;
        transition-duration: 2s;
    }
    
    #botaoFecharMenu {

        opacity: 0;
        position: absolute;
        transition-property: all;
        z-index: 1;
        float: left;
        margin-top: 8vw;
        margin-left: 8%;
        background-color: transparent;
        border: none;
        outline: none;
    }

    #imagem-menuMobile {

        width:7vw; 
    }

    #menuMobile {

        width: 20vw;
        height: 20vw;
        transition-property: all;
        background-color: transparent;
        outline: none;
        z-index: 0;
        border: none;

    }

    #link-brazuca-menu {

        margin-left: 18%;
        font-size: 6vw;
        margin-top: 2vw;
    }

    #texto-brazuca {

        font-size: 6vw;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    #botao-login {

        margin-top: 6.7vw;
        margin-left: 18%;
        font-size: 5vw;
    }

    #head-player {

        width: 8vw;
        height: 8vw;
        margin-left: 280%;
        margin-top: 6vw;
    }

    #botao-homeMobile {

        margin-top: 30vw;
        margin-left: -340%;
    }

    #botao-blogMobile {

        margin-top: 30vw;
        margin-left: -170%;
    }

    #botao-sobreMobile {

        margin-top: 60vw;
        margin-left: -290%;
    }

    #botao-ajudaMobile {

        margin-top: 60vw;
        margin-left: -140%;
    }


    #div-lojaMobile {

        display: none;
        z-index: 1;
        position: absolute;
        right: 0;
        margin-top: 90vw;
        margin-right: 61%;
    }

    #botao-lojaMobile {
        
        opacity: 0;
        transition-property: all;
        width: 340%;
        height: 13vw;
        border-radius: 3px;
        border-bottom: 2vw solid rgba(10, 10, 10, 0.4);
        border-left: 2vw solid rgba(10, 10, 10, 0.4);
        border-top: 2vw solid rgba(255, 255, 255, 0.5211);
        border-right: 2vw solid rgba(255, 255, 255, 0.521);
    }

    #tituloModal {

        font-size: 5vw;
        padding-left: 5%;
    }

    #loginModal {

        margin-left: 12%;
        font-size: 2.5vw;
    }

    #senhaModal {

        margin-left: 12%;
        font-size: 2.5vw;
    }

    #botaoLogar {

        width: 60%;
        height: 6vw;
        font-size: 3vw;
        margin-top: 3vw;
        margin-left: 19%;
    }

    #botaoCadastro {

        width: 40%;
        height: 4.5vw;
        font-size: 2.5vw;
        margin-top: 2vw;
        margin-left: 29%;
        margin-bottom: 2vw;
    }

    #linkEsqueciSenha {

        font-size: 2.4vw;
        margin-left: 31%;
    }
}











/* --------------------------------------- tela monitor 1366x768 ---------------------------------------*/
@media screen and (min-width:1201px) {

    body::-webkit-scrollbar {
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        display: none;
    }

    .header {

        background-color: rgba(0, 0, 0, 0.651);
    }

    .nav-mobile {

        display: none;
    }

    .opcao-menuMobile {

        display: none;
    }

    .nav-desktop {

        margin-left: 23vw;
    }

    .botao-menu {

        width: 8vw;
        height: 3.8vw;
        font-size: 1.25vw;
        margin-top: 0.5vw;
    }

    .icon-linkMenu {

        width:1.4vw; 
        margin-right: 0.3vw;
        margin-bottom: -0.2vw;
    }

    .texto-linkMenu {

        margin-right: 5%;
    }

    .opcao-menu {

        margin-left: 2vw;
        
    }

    .modalConteudo {

        width: 40%; 
        height: 18vw;
        margin:15% 32%; 
    }

    .modalLogin-input {

        width: 30%;
        margin-top: 2%;
        height: 1.5vw;
        font-size: 1.1vw;
        border: 0.2vw solid #ccc;
    }

    .botao-fechar {

        width: 1.7vw;
        height: 1.7vw;
        margin-right: 1%;
        margin-top: 1%;
    }

    .dropdownOpcao {

        padding: 12px 16px;
    }

    .dropdown-content {

        width: 10vw;
        margin-top: 5vw;
    }

    #div-lojaMobile {

        display: none;
    }

    
    #botaoFecharMenu {

        display: none;
    }

    #texto-brazuca {

        margin-top: -0.01vw;
        font-size: 2vw;
    }

    #link-brazuca-menu {

        width: 10vw;
        height: 5vw;
        margin-left: -20vw;
    }

    #head-player {

        width: 2.8vw;
        height: 2.8vw;
        margin-left: 2.67vw;
        margin-top: 1vw;
    }

    #div-loja {

        margin-left: 20vw;
    }

    #botao-login {

        width: 6vw;
        height: 3.8vw;
        margin-right: 1%;
        float: right;
        margin-top: 0.5vw;
        font-size: 1.25vw;
    }

    #tituloModal {

        font-size: 1.6vw;
        padding-left: 3%;
    }

    #loginModal {

        margin-left: 26%;
        font-size: 1.3vw;
    }

    #senhaModal {

        margin-left: 26%;
        font-size: 1.3vw;
    }

    #botaoLogar {

        width: 50%;
        height: 3vw;
        font-size: 1.4vw;
        margin-top: 1.5vw;
        margin-left: 23%;
    }

    #botaoCadastro {

        width: 24%;
        height: 2.2vw;
        font-size: 1.4vw;
        margin-top: 0.5vw;
        margin-left: 36%;
    }

    #linkEsqueciSenha {

        font-size: 1.2vw;
        font-weight: 500;
        margin-left: 32%;
    }

}










/* --------------------------------------- geral ---------------------------------------*/

.header {

    width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 0; 
    
}

.nav-desktop {

    width: 100%;
}

.opcao-menu {

    float: left;
    
}

.botao-menu {

    border: none;
    border-radius: 0.1vw;
    text-decoration: none;
    font-weight: 700;
    color: white;
    text-shadow: 0.05vw 0.11vw rgba(0, 0, 0, 0.651);
    cursor: pointer;
}

.botao-menu:hover {

    transform: scale(1.1);
    transition: transform .28s
}

.texto-linkMenu {

    float: right;
}

.modal {

    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: transparent;
    cursor: pointer;
}


.modalConteudo {

    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.4vw;
    cursor: auto;
}

.botao-fechar {

    border-radius: 0.2vw;
    color: white;
    background-image: url('../img/icons/fechar.png');
    background-size: cover;
    border: none;
    font-family: monospace;
    text-align: center;
    float: right;
    font-weight: 1000;
    cursor: pointer;
    transition: transform .25s;
}

.botao-fechar:hover {

    transform: scale(0.9) rotate(3deg);
    transition: transform .30s
}

.botao-fechar:focus {

    outline: none;
}

.close:hover,
.close:focus {

    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Dropdown inicio */

.dropbtn {

  border: none;
  cursor: pointer;
}

.dropdown {

    position: relative;
    display: inline-block;
}
  

.dropdown-content {

    display: none;
    position: absolute;
    z-index: 1;
}
 
.show {

    display:block;
}


/* Dropdown fim */

.modalLogin-input {

    background-color: transparent;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none;
}

.dropdownOpcao {

    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdownOpcao:hover {

    background-color: #34aa2f;
}

#bodyID {

    background-color: black;
}

#texto-brazuca:hover {

    transform: scale(1.1);
    transition: transform .30s
}

#link-brazuca-menu {

    float: left; 
    color: white; 
    font-weight: 700; 
    font-family: monospace;
    text-shadow: 0.08vw 0.15vw rgba(0, 0, 0, 0.651);
    text-decoration: none;
    text-align: center;
}

#botao-home {

    background-color: transparent;
    transition: transform .35s;
}

#botao-home:hover {

    background-color: #34aa2f;
    border-bottom: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-left: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-top: 0.27vw solid rgba(255, 255, 255, 0.5211);
    border-right: 0.27vw solid rgba(255, 255, 255, 0.521);
}

#botao-blog {

    background-color: transparent;
}

#botao-blog:hover {

    background-color: rgb(27, 96, 247);
    border-bottom: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-left: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-top: 0.27vw solid rgba(255, 255, 255, 0.5211);
    border-right: 0.27vw solid rgba(255, 255, 255, 0.521);
}

#botao-sobre {

    background-color: transparent;
}

#botao-sobre:hover {
    
    background-color: rgb(255, 146, 21);
    border-bottom: 0.22vw solid rgba(10, 10, 10, 0.4);
    border-left: 0.22vw solid rgba(10, 10, 10, 0.4);
    border-top: 0.22vw solid rgba(255, 255, 255, 0.5211);
    border-right: 0.22vw solid rgba(255, 255, 255, 0.521);
}

#botao-ajuda {

    background-color: transparent;
}

#botao-ajuda:hover {
    
    background-color: rgb(91, 45, 167);
    border-bottom: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-left: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-top: 0.27vw solid rgba(255, 255, 255, 0.5211);
    border-right: 0.27vw solid rgba(255, 255, 255, 0.521);
}

#botao-loja {

    border-bottom: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-left: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-top: 0.27vw solid rgba(255, 255, 255, 0.5211);
    border-right: 0.27vw solid rgba(255, 255, 255, 0.521);
    transition: transform .25s;
}

#head-player {

    background-image: url("../img/paginas/header/head-steve.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    transition: transform .30s;
}

#head-player:hover {

    transform: scale(1.1)  rotate(5deg);
}

#div-loja {

    float: left;
}

#botao-login {
    
    border: none;
    border-radius: 0.3vw;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: transparent;
    text-shadow: 0.05vw 0.11vw rgba(0, 0, 0, 0.651);
    cursor: pointer;
}

#botao-login:hover{

    transform: scale(1.1);
    transition: transform .28s;
}

#botao-login:focus{

    outline: none;
}

#modal {

    background-color: rgba(0, 0, 0, 0.2);
}

#tituloModal {

    text-align: center;
    color: white;
    font-family: monospace;
    font-weight: 550;
}

#loginModal {

    color: white;
    font-family: monospace;
    font-weight: 550;
}

#senhaModal {

    color: white;
    font-family: monospace;
    font-weight: 550;
}

#botaoLogar {

    font-family: monospace;
    font-weight: 700;
    color: white;
    border-bottom: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-left: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-top: 0.27vw solid rgba(255, 255, 255, 0.5211);
    border-right: 0.27vw solid rgba(255, 255, 255, 0.521);
    transition: transform .35s;
    cursor: pointer;
}

#botaoLogar:hover { 

    transform: scale(1.05);
}

#botaoCadastro {

    font-family: monospace;
    font-weight: 700;
    color: white;
    border-bottom: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-left: 0.27vw solid rgba(10, 10, 10, 0.4);
    border-top: 0.27vw solid rgba(255, 255, 255, 0.5211);
    border-right: 0.27vw solid rgba(255, 255, 255, 0.521);
    transition: transform .35s;
    cursor: pointer;
}

#botaoCadastro:hover {

    transform: scale(1.05);
}

#linkEsqueciSenha {

    color: white;
    text-decoration: none;
    font-family: monospace;
}

#linkEsqueciSenha:hover {

    color: rgb(225, 225, 225);
}

#myDropdown {

    background-color: rgba(0, 0, 0, 0.651);
}

.tooltipSenha {
    position: relative;
    
  }
  .tooltiptextSenha:after {
    border-color: transparent transparent #f00 transparent;
  }
  .tooltipSenha .tooltiptextSenha {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-top: 1.25vw;
    margin-left: -35%;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

  }
  
  .tooltipSenha:hover .tooltiptextSenha {
    visibility: visible;
  }