
/* ---- classes ---- */

.background-home {

    background-image: url("../img/background.png");
    width: 102%;
    height: 47vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.6vw;
    margin-left: -1vw;

}

/* ---- ids ---- */

#logo {

    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 25vw;
    height: 25vw;
    margin-left: 37vw;
    margin-top: 8vw;
    transition: transform .30s
}

#logo:hover {

    transform: scale(1.2) rotate(-5deg);
}

#ip-home {

    color: white;
    font-family: monospace;
    text-decoration: none;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 700;
    text-shadow: 0.2vw 0.18vw rgba(0, 0, 0, 0.651);
    
}

#botao-ip {

    width: 30%;
    background-color: rgba(10, 10, 10, 0.6);
    border-radius: 0.3vw;
    margin-top: -11vw;
    margin-left: 34.5vw;
    border-bottom: 0.3vw solid rgba(10, 10, 10, 0.4);
    border-right: 0.3vw solid rgba(10, 10, 10, 0.4);
    border-left: none;
    border-top: none;
    transition: transform .30s
}

#botao-ip:hover {

    background-color: rgba(27, 122, 27, 1);
    cursor: pointer;
    transform: scale(0.96)  rotate(0.2deg);

}

#div-players {

    color: white;
    font-size: 2.5vw;
    font-weight: 700;
    font-family: monospace;
    text-decoration: none;
    text-shadow: 0.2vw 0.2vw rgba(0, 0, 0, 0.651);
    text-align: center;
    margin-top: 1vw;
    margin-left: 2vw;
}

#icon-players {

    margin-left: 1vw;
    margin-bottom: -0.3vw;
    width: 2vw;
}

#div-jogadoresOnline {

    color: white;
    font-size: 1.4vw;
    font-weight: 700;
    font-family: monospace;
    text-decoration: none;
    text-shadow: 0.2vw 0.2vw rgba(0, 0, 0, 0.651);
    text-align: center;
    margin-top: 0.2vw;
    margin-left: 1.2vw;
}