
/* ---- classes ---- */

.background-home {

    background-image: url("../img/background.png");
    width: 102%;
    height: 47vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.6vw;
    margin-left: -1vw;

}

.logo {

    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 25vw;
    height: 25vw;
    margin-left: 37vw;
    margin-top: 10vw;
    transition: transform .30s
}

.logo:hover {

    transform: scale(1.2) rotate(-5deg);
}

/* ---- ids ---- */

#ip-home {

    color: white;
    font-family: monospace;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
    float: left;
    margin-left: 36vw;
    margin-top: -9vw;
    text-shadow: 0.2vw 0.18vw rgba(0, 0, 0, 0.651);
}